In [1]:
#DATA PREPROCESSING

In [2]:
import pandas as pd
df=pd.read_excel("Online retail.xlsx")
df

     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7500 rows x 1 columns]

In [5]:
df.info()
df.describe()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                           --------------  -----
 0   shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil  7500 non-null   object
dtypes: object(1)
memory usage: 58.7+ KB

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [6]:
# Check for any missing values
df.isnull().sum()

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    0
dtype: int64

In [8]:
# Remove rows that contain any missing values
df.dropna(inplace=True)
df.isnull().sum()

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    0
dtype: int64

In [9]:
# transactions to list of items
transactions = df.iloc[:, 0].apply(lambda x: x.split(',')).tolist()
# first 5 transactions
for i, transaction in enumerate(transactions[:5]):
    print(f"Transaction {i+1}:", transaction)

Transaction 1: ['burgers', 'meatballs', 'eggs']
Transaction 2: ['chutney']
Transaction 3: ['turkey', 'avocado']
Transaction 4: ['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea']
Transaction 5: ['low fat yogurt']

In [15]:
#ASSOCIATION RULE MINING

In [16]:
#ONE HOT ENCODING
# One-hot encoding is used to convert transaction data into a binary format required for association rule mining algorithms like Apriori.

In [17]:
#install mlxtend
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\admin\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.23.5)
Requirement already satisfied: joblib>=0.13.2 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (3.7.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (22.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [18]:
#importing libraries
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori , association_rules
# Initialize encoder and fit-transform the transactions
te = TransactionEncoder()
te_array = te.fit(transactions).transform(transactions)
# Convert the array to a DataFrame
basket_df = pd.DataFrame(te_array, columns=te.columns_)
basket_df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [19]:
#APRIORI ALGORITHM
# Apriori algorithm is used to identify frequent itemsets and generate association rules in transactional datasets for market basket analysis.

In [20]:
# Get frequent itemsets with min support
frequent_itemsets = apriori(basket_df, min_support=0.01, use_colnames=True)
# View top itemsets
frequent_itemsets.sort_values(by="support", ascending=False).head()

     support         itemsets
46  0.238267  (mineral water)
19  0.179733           (eggs)
63  0.174133      (spaghetti)
24  0.170933   (french fries)
13  0.163867      (chocolate)

In [24]:
# Generate the rules from frequent_itemsets
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
# Filter rules with meaningful thresholds
filtered_rules = rules[(rules['confidence'] > 0.3) & (rules['lift'] > 3)]
# View top rules
filtered_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

         antecedents    consequents  support  confidence      lift
216  (herb & pepper)  (ground beef)    0.016     0.32345  3.291555

In [ ]:
 Analysis and Interpretation
1. Analyse the generated rules:
The generated association rules revealed strong product pairings such as Green Tea â†’ Honey and Milk â†’ Bread.
High confidence and lift values indicate these combinations are frequently and consistently purchased together.
Lift values greater than 3 show that the associations are significant and not due to chance.
Such rules can help identify product bundling opportunities.

2. Interpret the results and provide insights:
The rules suggest that customers often buy complementary products, especially health-related and daily-use items.
For example, buyers of mineral water often purchase salmon, indicating a health-conscious segment.
Patterns show consistent consumer behavior, which can guide personalized offers and store layout.
This analysis supports better marketing and sales strategies.

In [ ]:
Interview Questions

1. What is lift and why is it important in Association rules?
-->Lift measures how much more likely item B is purchased when item A is bought, compared to random chance.
It is calculated as:
Lift(ð´â†’ðµ)=Confidence(ð´â†’ðµ)/Support(ðµ)
-->Lift > 1 indicates a meaningful and strong relationship between A and B.

2. What is support and confidence? How do you calculate them?

>Support shows how frequently an item or itemset occurs:
-->Support(A) = (Transactions containing A) / (Total transactions)
>Confidence shows the likelihood of item B being purchased when A is bought:
-->Confidence(A â†’ B) = (Transactions with A & B) / (Transactions with A)
 
3. What are some limitations or challenges of Association rules mining?

*It can generate too many rules, many of which may be trivial or irrelevant.
*Rare but important patterns might be missed due to low support.
*The technique doesn't consider the sequence or timing of transactions.
*Works only with categorical or binary (one-hot encoded) data formats.